<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'partials/head.html' %}
</head>
<body>
    <!-- Legal -->
    {% include 'partials/legal.html' %}

    <!-- Onboarding -->
    {% include 'partials/onboarding.html' %}
    
    <!-- Navigation -->
    {% include 'partials/navigation.html' %}
    
    <!-- Main Content -->
    {% include 'partials/home-page.html' %}

    <!-- Get in Touch -->
    {% include 'partials/get-in-touch.html' %}

    <!-- Breweries -->
    {% include 'partials/breweries.html' %}

    <!-- Search -->
    {% include 'partials/search.html' %}

    <!-- Venue Content -->
    {% include 'partials/venue.html' %}
    
    <!-- All Overlays -->
    {% include 'partials/overlays.html' %}
    
    <!-- All Modals -->
    {% include 'partials/modals.html' %}
    
    <!-- Templates -->
    {% include 'partials/templates.html' %}
    
    <!-- Toasts & Cookie Consent -->
    {% include 'partials/components.html' %}
    
    <!-- Scripts -->
    {% include 'partials/scripts.html' %}
</body>
</html>







